:root {
  --main-color: #066ac9;
  --main-color-rgb: 6, 106, 201;

  --danger-color: #e61414;
  --danger-color-rgb: 229, 15, 65;
  --danger-border-color: #e61414;
  --orange-color-rgb: 253, 126, 20;
  --body-color: #747579;
  --black-color: #000;

  --main-shadow: 0px 0px 2.5rem rgba(29, 58, 83, 0.15);

  --body-font-family: "Roboto", sans-serif;
  --heading-font-family: "Quicksand", sans-serif;
}

@font-face {
  font-family: var(--body-font-family);
  src: url("../webfonts/Roboto-Regular.woff2") format("woff2"),
    url("../webfonts/Roboto-Regular.woff") format("woff"),
    url("../webfonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: var(--heading-font-family);
  src: url("../webfonts/Quicksand.woff2") format("woff2"),
    url("../webfonts/Quicksand.woff") format("woff"),
    url("../webfonts/Quicksand.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--body-font-family);
  color: var(--body-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--heading-font-family);
  color: var(--black-color);
}

.text-primary {
  --bs-primary-rgb: var(--main-color-rgb);
}
.text-danger {
  --bs-danger-rgb: var(--danger-color-rgb);
}
.text-orange {
  color: rgb(var(--orange-color-rgb));
}

.custom-btn-danger {
  --bs-btn-bg: var(--danger-color);
  --bs-btn-border-color: var(--danger-border-color);
}
.btn-primary-shadow span:first-child {
  width: 2rem;
  height: 2rem;
  box-shadow: 0 0 0 8px rgba(var(--main-color-rgb), 0.4);
  transition: all 0.3s ease-in-out;
}

.btn-primary-shadow:hover span:first-child {
  box-shadow: 0 0 0 10px rgba(var(--main-color-rgb), 0.4);
}
.nav-link {
  color: var(--body-color);
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.nav-link:focus,
.nav-link:hover {
  color: var(--main-color);
}

.navbar-brand img {
  width: 4.5rem;
}

.card {
  box-shadow: var(--main-shadow);
  img {
    max-height: 10.5rem;
    object-fit: cover;
  }
}

.nav-pills {
  --bs-nav-pills-link-active-bg: var(--main-color);
}

.custome-img {
  width: 5rem;
}

.carousel-indicators [data-bs-target] {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-indent: 0;
}

#news h3::before {
  content: "";
  width: 10%;
  height: 0.25rem;
  background: var(--main-color);
  position: absolute;
  left: 45%;
  bottom: 0;
}

.chars {
  text-align: center;
  color: white;
  padding: 50px 0;
}

.chars h2 {
  margin: 0 0 16px;
}

.char {
  background-color: var(--main-color);
  position: relative;
  overflow: hidden;
}

.char img {
  width: 100%;
  display: block;
  transition: transform 1s 1s;
  max-height: 560px;
}
.char figcaption {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

.char figcaption h3 {
  background-color: #161a20;
  color: white;
  padding: 16px;
  margin: 0;
  transition: transform 1s 2s;
  font-weight: 700;
}
.char figcaption p {
  transition: transform 1s 2.5s;
  font-size: 20px;
  padding: 16px;
}

.char figcaption h3,
.char figcaption p {
  transform: translateX(120%);
}
.char:hover img {
  transform: scale(1.1);
}
.char:hover figcaption {
  opacity: 1;
  transform: rotate(360deg);
}
.char:hover figcaption h3,
.char:hover figcaption p {
  transform: translateX(0);
}

footer {
  a {
    --bs-nav-link-color: var(--body-color);
  }
}

.text-facebook {
  color: #5d82d1;
  &:hover {
    color: shift-color(#5d82d1, 10%);
  }
}

.text-instagram {
  color: #c22b72;
  &:hover {
    color: shift-color(#c22b72, 10%);
  }
}

.text-google {
  color: #3c7ff1;
  &:hover {
    color: shift-color(#3c7ff1, 10%);
  }
}
.text-google-icon {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.text-twitter {
  color: #40bff5;
  &:hover {
    color: shift-color(#40bff5, 10%);
  }
}

.text-linkedin {
  color: #238cc8;
  &:hover {
    color: shift-color(#238cc8, 10%);
  }
}

.text-pinterest {
  color: #e60023;
  &:hover {
    color: shift-color(#e60023, 10%);
  }
}

.text-dribbble {
  color: #f7659c;
  &:hover {
    color: shift-color(#f7659c, 10%);
  }
}

.text-youtube {
  color: #ff0000;
  &:hover {
    color: shift-color(#ff0000, 10%);
  }
}
